.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.usa-prose {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.add-list-reset.usa-breadcrumb {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.usa-breadcrumb-list-item {
  display: inline-block;
  line-height: 1.6;
}

.usa-breadcrumb-current-page {
  display: inline;
}

.usa-tag-wf {
  display: inline-block;
  padding: 1px 8px;
  border-radius: 2px;
  background-color: #565c65;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
}

.component-content-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.usa-button-primary-wf {
  display: inline-block;
  width: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #005ea2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  text-decoration: none;
}

.usa-button-primary-wf:hover {
  background-color: #1a4480;
}

.usa-button-primary-wf:active {
  background-color: #162e51;
}

.usa-button-secondary-wf {
  width: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #d83933;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  text-decoration: none;
}

.usa-button-secondary-wf:hover {
  background-color: #b50909;
}

.usa-button-secondary-wf:active {
  background-color: #8b0a03;
}

.usa-button-accent-wf {
  width: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #00bde3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  text-decoration: none;
}

.usa-button-accent-wf:hover {
  background-color: #28a0cb;
  color: #fff;
}

.usa-button-accent-wf:active {
  background-color: #07648d;
}

.usa-button-base-wf {
  width: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #71767a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  text-decoration: none;
}

.usa-button-base-wf:hover {
  background-color: #565c65;
  color: #fff;
}

.usa-button-base-wf:active {
  background-color: #3d4551;
}

.usa-button-outline-wf {
  width: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #005ea2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #005ea2;
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  text-decoration: none;
}

.usa-button-outline-wf:hover {
  box-shadow: inset 0 0 0 2px #1a4480;
  color: #1a4480;
}

.usa-button-outline-wf:active {
  box-shadow: inset 0 0 0 2px #162e51;
  color: #162e51;
}

.usa-button-disabled-wf {
  width: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #c9c9c9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  text-decoration: none;
}

.component-content-flex-inverse {
  display: inline-block;
  margin-bottom: 2rem;
  margin-left: auto;
  padding: 2rem 4rem 1rem;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #1b1b1b;
}

.usa-button-outline-inverse-wf {
  width: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 12px 20px;
  border: 2px none #005ea2;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #e6e6e6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #e6e6e6;
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  text-decoration: none;
}

.usa-button-outline-inverse-wf:hover {
  box-shadow: inset 0 0 0 2px #f0f0f0;
  color: #f0f0f0;
}

.usa-button-outline-inverse-wf:active {
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
}

.usa-button-big-wf {
  width: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 16px 24px;
  border-radius: 4px;
  background-color: #005ea2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 21px;
  line-height: 21px;
  font-weight: 600;
  text-decoration: none;
}

.usa-button-big-wf:hover {
  background-color: #1a4480;
}

.usa-button-big-wf:active {
  background-color: #162e51;
}

.usa-prose-h1-wf {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 2.44rem;
  line-height: 1.2;
  font-weight: 700;
}

.usa-prose-h1-wf.white {
  color: #fff;
}

.usa-prose-intro-wf {
  margin-top: 1em;
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 1.22rem;
  line-height: 1.5;
}

.component-content-block {
  margin-bottom: 2rem;
}

.usa-prose-h2-wf {
  margin-top: 1.5em;
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 1.71rem;
  line-height: 1.2;
}

.usa-prose-h3-wf {
  margin-top: 1.5em;
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 1.22rem;
  line-height: 1.2;
}

.usa-prose-paragraph-wf {
  margin-top: 1em;
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 1.06rem;
  line-height: 1.5;
}

.usa-prose-h4-wf {
  margin-top: 1.5em;
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 0.98rem;
  line-height: 1.2;
}

.usa-prose-h5-wf {
  margin-top: 1.5em;
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 0.91rem;
  line-height: 1.2;
}

.usa-prose-list-item-wf {
  margin-bottom: 0.25em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 1.06rem;
  line-height: 1.5;
}

.usa-prose-unordered-list-wf {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 2em;
}

.usa-prose-ordered-list-wf {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 2em;
  list-style-type: decimal;
}

.usa-label-wf {
  max-width: 30rem;
  margin-top: 1.5rem;
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 1.06rem;
  line-height: 1.1;
  font-weight: 400;
}

.usa-input-wf {
  height: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0px;
  padding: 0.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #5c5c5c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 1.06rem;
  line-height: 1.3;
}

.usa-input-wf.usa-input-wf-success {
  border-width: 0.25rem;
  border-color: #00a91c;
}

.usa-form-wf {
  max-width: 30rem;
}

.usa-textarea-wf {
  height: 10rem;
  min-height: 10rem;
  margin-top: 0.5rem;
  margin-bottom: 0px;
  padding: 0.5rem;
  border: 1px solid #5c5c5c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 1.06rem;
  line-height: 1.3;
}

.usa-select-wf {
  width: 100%;
  height: 2.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border: 1px solid #5c5c5c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 1.06rem;
  line-height: 1.3;
}

.usa-dropdown-container {
  width: 100%;
}

.usa-select-icon-wf {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin-top: auto;
  margin-right: 0.75rem;
  margin-bottom: auto;
}

.usa-prose-h6-wf {
  margin-top: 1.5em;
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 0.87rem;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.component-heading {
  padding-top: 4em;
  padding-bottom: 2rem;
  border-top: 1px solid #a9aeb1;
}

.usa-sidenav-wf {
  max-width: 40rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0em;
  padding-right: 0em;
  padding-left: 0em;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 0.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 1.06rem;
  line-height: 1.3;
  list-style-type: none;
}

.usa-sidenav-wf.sitenav {
  border-bottom-style: none;
}

.usa-sidenav-item-wf {
  border-top: 1px solid #e6e6e6;
}

.usa-sidenav-item-wf.sitenav-item {
  border-top-style: none;
}

.usa-sidenav-item-link-wf {
  display: block;
  padding: 0.5em 1em;
  color: #565c65;
  text-decoration: none;
}

.usa-sidenav-item-link-wf:hover {
  background-color: #f0f0f0;
}

.usa-sidenav-item-link-wf.usa-sidenav-link-current-wf {
  padding-left: 0.75em;
  border-left: 0.25rem solid #005ea2;
  border-radius: 0px;
  color: #005ea2;
  font-weight: 700;
}

.usa-link-wf {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #005ea2;
  line-height: 1.5;
}

.usa-link-wf:hover {
  color: #1a4480;
}

.usa-link-wf:active {
  color: #162e51;
}

.page-padding {
  min-height: 6em;
}

.container-3 {
  padding-right: 24em;
}

.link {
  margin-top: 0.5em;
  float: right;
}

.color-grid {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.theme-color-base-lightest {
  color: #f0f0f0;
}

.color-swatch {
  width: 100%;
  height: 72px;
  margin-top: 0.25rem;
  margin-bottom: -0.75rem;
  border-radius: 4px;
}

.color-swatch.theme-color-base-lightest {
  background-color: #f0f0f0;
}

.color-swatch.theme-color-base-lighter {
  background-color: #dfe1e2;
}

.color-swatch.theme-color-base-light {
  background-color: #a9aeb1;
}

.color-swatch.theme-color-base {
  background-color: #71767a;
}

.color-swatch.theme-color-base-dark {
  background-color: #565c65;
}

.color-swatch.theme-color-base-darker {
  background-color: #3d4551;
}

.color-swatch.theme-color-base-darkest {
  background-color: #1b1b1b;
}

.color-swatch.theme-color-base-ink {
  background-color: #1b1b1b;
}

.color-swatch.theme-color-primary-lighter {
  background-color: #d9e8f6;
}

.color-swatch.theme-color-primary-light {
  background-color: #73b3e7;
}

.color-swatch.theme-color-primary {
  background-color: #005ea2;
}

.color-swatch.theme-color-primary-vivid {
  background-color: #0050d8;
}

.color-swatch.theme-color-primary-dark {
  background-color: #1a4480;
}

.color-swatch.theme-color-primary-darker {
  background-color: #162e51;
}

.color-swatch.theme-color-secondary-lighter {
  background-color: #f8dfe2;
}

.color-swatch.theme-color-secondary-light {
  background-color: #f2938c;
}

.color-swatch.theme-color-secondary {
  background-color: #d83933;
}

.color-swatch.theme-color-secondary-vivid {
  background-color: #e41d3d;
}

.color-swatch.theme-color-secondary-dark {
  background-color: #b50909;
}

.color-swatch.theme-color-secondary-darker {
  background-color: #8b0a03;
}

.color-swatch.theme-color-accent-cool-lighter {
  background-color: #e1f3f8;
}

.color-swatch.theme-color-accent-cool-light {
  background-color: #97d4ea;
}

.color-swatch.theme-color-accent-cool {
  background-color: #00bde3;
}

.color-swatch.theme-color-accent-cool-dark {
  background-color: #28a0cb;
}

.color-swatch.theme-color-accent-cool-darker {
  background-color: #07648d;
}

.color-swatch.theme-color-accent-warm-lighter {
  background-color: #f2e4d4;
}

.color-swatch.theme-color-accent-warm-light {
  background-color: #ffbc78;
}

.color-swatch.theme-color-accent-warm {
  background-color: #fa9441;
}

.color-swatch.theme-color-accent-warm-dark {
  background-color: #c05600;
}

.color-swatch.theme-color-accent-warm-darker {
  background-color: #775540;
}

.prose-block {
  max-width: 40rem;
}

.usa-alert-text-wf {
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 1.06rem;
  line-height: 1.5;
}

.usa-alert-heading-wf {
  margin-top: 0px;
  margin-bottom: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 1.33rem;
  line-height: 1.1;
}

.usa-alert-body-wf {
  padding-left: 1.25rem;
}

.usa-alert-info-wf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.25rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-left: 0.5rem solid #00bde3;
  background-color: #e7f6f8;
}

.usa-alert-icon-wf {
  display: block;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.usa-alert-warning-wf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.25rem 1.25rem 1rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-left: 0.5rem solid #ffbe2e;
  background-color: #faf3d1;
}

.usa-alert-error-wf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.25rem 1.25rem 1rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-left: 0.5rem solid #d54309;
  background-color: #f4e3db;
}

.usa-alert-success-wf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.25rem 1.25rem 1rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-left: 0.5rem solid #00a91c;
  background-color: #ecf3ec;
}

.usa-alert-info-slim-wf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.25rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 0.5rem solid #00bde3;
  background-color: #e7f6f8;
}

.site-nav-div {
  position: -webkit-sticky;
  position: sticky;
  left: 2rem;
  top: 4rem;
  right: auto;
  bottom: auto;
  min-width: 12rem;
  margin-right: 4rem;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

.site-intro {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.site-main-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 4rem;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.usa-link-xs-wf {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #005ea2;
  font-size: 0.94rem;
  line-height: 1.5;
}

.usa-link-xs-wf:hover {
  color: #1a4480;
}

.usa-link-xs-wf:active {
  color: #162e51;
}

.site-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #005ea2;
}

@media screen and (max-width: 991px) {
  .usa-sidenav-wf.sitenav {
    max-width: none;
  }
  .site-nav-div {
    position: static;
    width: 100%;
    margin: 2rem auto;
  }
  .site-main-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .color-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .site-intro {
    padding-right: 16px;
    padding-left: 16px;
  }
  .site-main-flex-container {
    padding-right: 16px;
    padding-left: 16px;
  }
  .site-header {
    padding-right: 16px;
    padding-left: 16px;
  }
}

