.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.usa-prose {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.feature-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.flex-container {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-image-mask {
  margin-right: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.feature-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.div-block {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.add-list-reset.usa-breadcrumb {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.usa-breadcrumb-list-item {
  display: inline-block;
  line-height: 1.6;
}

.usa-breadcrumb-current-page {
  display: inline;
}

.shadow-1 {
  height: 72px;
  max-height: 100%;
  max-width: 100%;
  min-height: 72px;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.widget {
  width: 72px;
  height: 72px;
  min-height: 72px;
  min-width: 72px;
  border-style: solid;
  border-width: 1px;
  border-color: #f1f1f1;
  background-color: #fff;
}

.widget.shadow-2 {
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.1);
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.shadow-2 {
  height: 72px;
  max-height: 100%;
  max-width: 100%;
  min-height: 72px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.shadow-3 {
  height: 72px;
  max-height: 100%;
  max-width: 100%;
  min-height: 72px;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.usa-tag-wf {
  display: inline-block;
  padding: 1px 8px;
  border-radius: 2px;
  background-color: #5c5c5c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
}

.prototyping-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4em;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.usa-button-primary-wf {
  width: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #005ea2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  text-decoration: none;
}

.usa-button-primary-wf:hover {
  background-color: #1a4481;
}

.usa-button-primary-wf:active {
  background-color: #162e51;
}

.usa-button-secondary-wf {
  width: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #d83933;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  text-decoration: none;
}

.usa-button-secondary-wf:hover {
  background-color: #b50909;
}

.usa-button-secondary-wf:active {
  background-color: #8b0a03;
}

.container {
  padding-top: 2em;
}

.usa-button-accent-wf {
  width: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #00bde3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  text-decoration: none;
}

.usa-button-accent-wf:hover {
  background-color: #28a0cb;
  color: #fff;
}

.usa-button-accent-wf:active {
  background-color: #07648d;
}

.usa-button-base-wf {
  width: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #757575;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  text-decoration: none;
}

.usa-button-base-wf:hover {
  background-color: #5c5c5c;
  color: #fff;
}

.usa-button-base-wf:active {
  background-color: #2e2e2e;
}

.usa-button-outline-wf {
  width: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 12px 20px;
  border: 2px none #005ea2;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #005ea2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #005ea2;
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  text-decoration: none;
}

.usa-button-outline-wf:hover {
  box-shadow: inset 0 0 0 2px #1a4480;
  color: #1a4480;
}

.usa-button-outline-wf:active {
  box-shadow: inset 0 0 0 2px #162e51;
  color: #162e51;
}

.usa-button-disabled-wf {
  width: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #c9c9c9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  text-decoration: none;
}

.prototyping-container-inverse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4em;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #1b1b1b;
}

.usa-button-outline-inverse-wf {
  width: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 12px 20px;
  border: 2px none #005ea2;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #e6e6e6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #e6e6e6;
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  text-decoration: none;
}

.usa-button-outline-inverse-wf:hover {
  box-shadow: inset 0 0 0 2px #f0f0f0;
  color: #f0f0f0;
}

.usa-button-outline-inverse-wf:active {
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
}

.usa-button-big-wf {
  width: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 16px 24px;
  border-radius: 4px;
  background-color: #005ea2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 21px;
  line-height: 21px;
  font-weight: 600;
  text-decoration: none;
}

.usa-button-big-wf:hover {
  background-color: #1a4481;
}

.usa-button-big-wf:active {
  background-color: #162e51;
}

.usa-prose-h1-wf {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 2.44rem;
  line-height: 1.2;
  font-weight: 700;
}

.usa-prose-intro-wf {
  max-width: 50%;
  margin-top: 1em;
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.22rem;
  line-height: 1.5;
}

.prototyping-container-block {
  padding-top: 4em;
}

.usa-prose-h2-wf {
  margin-top: 1.5em;
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 1.71rem;
  line-height: 1.2;
}

.usa-prose-h3-wf {
  margin-top: 1.5em;
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 1.22rem;
  line-height: 1.2;
}

.usa-prose-paragraph-wf {
  max-width: 50%;
  margin-top: 1em;
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 1.06rem;
  line-height: 1.5;
}

.usa-prose-h4-wf {
  margin-top: 1.5em;
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 0.98rem;
  line-height: 1.2;
}

.usa-prose-h5-wf {
  margin-top: 1.5em;
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
  font-size: 0.91rem;
  line-height: 1.2;
}

.usa-prose-list-item-wf {
  max-width: 50%;
  margin-bottom: 0.25em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.06rem;
  line-height: 1.5;
}

.usa-prose-unordered-list-wf {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 2em;
}

.usa-prose-ordered-list-wf {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 2em;
  list-style-type: decimal;
}

@media screen and (max-width: 767px) {
  .feature-section {
    padding: 40px 20px;
  }
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feature-image-mask {
    margin-right: 0px;
  }
  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }
}

#w-node-e14f8ab79508-19dc4630 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-a89a67cacb8a-19dc4630 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-a2dc2b5004e2-19dc4630 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-f998518dbed2-19dc4630 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-ea3ec8943ef8-19dc4630 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-6740eed6b367-19dc4630 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

